@charset "utf-8";/*公用*/
*{margin:0px;padding:0px;-webkit-tap-highlight-color:rgba(0, 0, 0, 0)}
body{font-family:'Microsoft Yahei','Simsun';font-size:18px;color:#333;background:#fff;-webkit-text-size-adjust:none}
div{text-align:left;}
img{border:0px;}
ul,li{list-style-type:none;}
a{color:#333;text-decoration:none;-webkit-touch-callout:none}
a:hover{color:#F00;}
.red{color:#F00;font-size:12px;}
.cor{color:#f60;font-size:12px;}
.gray{color:#666;}
.org{color:#f60;}
.f12{font-size:12px;}
.f14{font-size:14px;}
.f666{color:#666;}
a.blue,a.blue:hover{color:#06c;font:Arial, Helvetica, sans-serif;}
button,input,select,textarea{font-size:18px;vertical-align:middle}
header,footer,article,section,nav,menu,hgroup,time{display:block;clear:all;}
.hidden{display:none}
.cen{text-align:center;}
.l{float:left;}
.r{float:right;}
.ovf{overflow:hidden}
.clear{clear:both;}
/*顶部*/
#main{height:auto;background:#fff}
#ctop{height:90px;background:#59a0e3 url(http://img.pccoo.cn/wap/images/bg.gif) no-repeat;background-position:130px 15px;display:block;}
.logo{height:50px;}
.logo .l{width:150px;height:50px;display:block;line-height:50px;}
.logo .r{width:145px;height:50px;display:block;line-height:50px;text-align:right;font-size:16px;padding-right:5px;}
.logo .r i{font-size:12px;font-style:normal}
.logo a{color:#fff;}
#ctop nav{font-size:16px;height:40px;background:-webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ddd));background:-moz-linear-gradient(top, #f4f4f4, #ddd);line-height:40px;color:#fff;text-align:center;box-shadow:0 1px 1px #ccc;-moz-box-shadow:0 1px 1px #ccc;-webkit-box-shadow:0 1px 1px #ccc;text-align:center}
#ctop nav a{color:#333;line-height:40px;height:40px;}
#ctop nav ul{display:table;}
#ctop nav ul li{width:auto;display:table-cell;}
#ctop nav ul li.sx{width:2px;color:#CCC;}

/*头*/
.news_home{width:20px;height:18px;background:url(http://img.pccoo.cn/wap/images/home.png) no-repeat;display:block;position:absolute;top:10px;left:10px;}
.news_link{display:block;line-height:40px;height:40px;width:98%;font-weight:bold;color:#fff;text-shadow:1px 1px 1px #39c;text-align:center;margin:0 auto}
.news_return{width:20px;height:18px;background: url(http://img.pccoo.cn/wap/images/return.png) 0 center no-repeat;display:block;position:absolute;top:10px;right:10px;}
.news_home a,.news_return a{display:block;text-indent:-9999px;}

.cho{height:40px;line-height:40px;color:#666;font-size:16px;border-bottom:#ccc 1px solid;text-indent:5px;}
.cho2{height:40px;line-height:40px;font-size:16px;border-bottom:#f2f2f2 1px solid;text-align:center}
.tout{height:35px;background:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#ebeaea));background:-moz-linear-gradient(top, #fff, #ebeaea);line-height:35px;font-size:14px;color:#999;text-indent:5px;}
.tout img{vertical-align:middle;}
.c_bg{background:url(http://img.pccoo.cn/wap//images/bg_guide.jpg) center center no-repeat;height:250px;margin:0 auto;text-align:center;width:100%;padding-top:80px;color:#999;}
.c_bg h1{font-size:32px;color:#f00; line-height:50px;}
.c_bg a{font-size:20px;text-decoration:underline;color:#06C}

#selctebox{width:100%; height:38px;background:-ms-linear-gradient(top,#F3F3F3,#E5E6E6); background:-webkit-gradient(linear, 0 0, 0 100%, from(#F3F3F3), to(#E5E6E6));background:-moz-linear-gradient(top, #F3F3F3, #E5E6E6); border-bottom:#CCC 1px solid; display:table;}
#selctebox li{height:38px; line-height:38px; display:table-cell; border-right:#CCC 1px solid; border-left:#F6F6F6 1px solid; text-align:center;}
#selctebox li.regcurr{width:50%; background:#DDD; box-shadow:1px 2px 5px rgba(0,0,0,0.3) inset; border-left:none;}
#selctebox li:first-child{border-left:0;}

/*主要*/
.tit{height:38px;background:#458bce;line-height:38px;overflow:hidden;background:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#caedff));background:-moz-linear-gradient(top, #fff, #caedff);margin-top:3px;border-bottom:#82c5fd solid 1px;border-top:#bddefa solid 1px;}
.tit a{color:#039;text-shadow:1px 1px 1px #fff;}
.hot{float:left;}
.more{float:right;margin-right:10px;}
.icon{background:url(http://img.pccoo.cn/wap/images/title_01.gif) no-repeat;width:2px;height:20px;float:left;margin:9px 5px 0 10px;box-shadow:1px 1px 1px #fff;}

/*图片切换*/
#wrapper_imglist,#wrapper_imglist2{width:320px;position:relative;overflow:hidden;margin:5px auto 0 auto}
#scroller_imglist,#scroller_imglist2{width:1280px;float:left;padding:0;left:0;top:0}
#scroller_imglist > div,#scroller_imglist2 > div{list-style:none;display:block;float:left;width:100%;height:100%;margin:10px 0 0 0 0;text-align:left;}
#thelist_imglist > div,#thelist_imglist2 > div{-webkit-box-sizing:border-box;display:block;float:left;text-align:center;font-size:18px;}
.imgbox{float:left;width:320px;text-align:center;position:relative;z-index:2;}
#thelist_imglist > div,#thelist_imglist2 > div{-webkit-box-sizing:border-box;display:block;float:left;text-align:center;font-size:18px;line-height:140%;}
#nav_imglist,#nav_imglist2{height:34px;background-color:#f7f7f7;clear:both;margin:0 auto}
#prev_imglist,#next_imglist,#prev_imglist2,#next_imglist2{float:left;height:31px;line-height:31px;font-size:14px;width:30%;text-align:center;border-bottom:1px solid #ccc;border-top:1px solid #ccc;text-shadow:1px 1px 1px #fff}
#next_imglist,#next_imglist2{float:right;}
.indicator_num{float:left;width:40%;height:32px;border-bottom:1px solid #ccc;text-align:center;color:#6b6b6b}
#indicator_imglist,#indicator_imglist > li,#indicator_imglist2,#indicator_imglist2 > li{display:inline-block;list-style:none;padding:0;margin:0;}
#indicator_imglist,#indicator_imglist2{float:left;width:100%;background:#fff;border:1px solid #ccc;border-top:none;}
#indicator_imglist > li,#indicator_imglist2 > li{text-indent:-9999em;width:8px;height:8px;-webkit-border-radius:4px;background:#E3E1E1;overflow:hidden;margin-right:4px;}
#indicator_imglist > li.active,#indicator_imglist2 > li.active{background:#738abe;}
#indicator_imglist > li:last-child,#indicator_imglist2 > li:last-child{margin:0;}
.news_imgbox{text-align:center;position:relative;}
.news_imgbox img{width:310px;height:190px;}
.imgbox_title{width:310px;height:30px;line-height:30px;top:160px;left:5px;text-align:center;background:rgba(0,0,0,0.4);filter:alpha(opacity=40);color:#fff;z-index:9999;position:absolute;overflow:hidden;}

/*新闻01*/
.news_list,.bbs_list{width:100%;height:408px;}
.post_list{width:100%;height:auto;}
.news_list li a,.bbs_list li a{display:block;width:95%;height:40px;line-height:40px;overflow:hidden;}
.news_list li,.bbs_list li,.post_list li{text-indent:5px;height:40px;line-height:40px;border-bottom:#e5e5e5 1px solid;background:url(http://img.pccoo.cn/wap/images/ul_01.png) no-repeat;background-position:97% 15px;overflow:hidden;}
.news_list li.curr,.bbs_list li.curr,.post_list li.curr{background-color:#f2f2f2}
.post_nav{background:-webkit-gradient(linear, 0 0, 0 100%, from(#d5f1ff), to(#fff));background:-moz-linear-gradient(top, #d0e1f3, #fff);text-align:center;padding:5px 0;}
.post_title{height:30px;background:#e9e9e9;line-height:30px;overflow:hidden}
.post_nav p{line-height:30px;width:100%}
.post_nav a{font-size:16px;color:#06C;width:25%;display:inline-block;}
.post_num{margin-left:5px;float:left;}
.post_more{float:right;margin-right:5px;}
.post_list li a.cate{display:block;width:53px;height:40px;line-height:40px;overflow:hidden;float:left;color:#06C}
.post_list li a.info{display:block;width:80%;height:40px;line-height:40px;overflow:hidden;float:left}
.enter{text-align:center;line-height:40px;padding:10px 0;}
.button{width:70%;height:30px;line-height:30px;display:inline-block;background-image:-webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#fff));background-image:-moz-linear-gradient(top, #f2f2f2, #fff);border:1px solid #e5e5e5;padding:0 10px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;text-align:center;margin:10px auto 0 auto;}  
.button a{display:block} 
.button.curr{background-image:-webkit-gradient(linear, left top, left bottom, from(#ccc), to(#f2f2f2));background-image:-moz-linear-gradient(top, #ccc, #f2f2f2);border:1px solid #ccc;}  
.sub{width:40%;height:30px;line-height:30px;display:block;background-image:-webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#ccc));background-image:-moz-linear-gradient(top, #f2f2f2, #ccc);border:1px solid #999;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;margin:15px auto;text-shadow:1px 1px 1px #fff}


/*搜索*/
#search{height:80px;line-height:32px;background-image:-webkit-gradient(linear, left top, left bottom, from(#d6faff), to(#c2e9f9));background-image:-moz-linear-gradient(top, #d6faff, #c2e9f9);}
.bend{font-size:16px;color:#369;margin-left:5px;}
.bend_jilu{font-size:12px;}
.so_txt{width:65%;height:32px;border:#999 1px solid;margin-left:5px;font-size:16px;color:#999;float:left;padding-left:23px;background:#fff url(http://img.pccoo.cn/wap/images/so.png) 3px center no-repeat;-webkit-box-sizing:border-box;}
.so_sub{width:30%;height:30px;margin-left:5px;float:left;padding:0;display:block; text-align:center;background:-webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#ddd));background:-moz-linear-gradient(top, #f2f2f2, #ddd);border:#999 solid 1px; border-bottom:none;box-shadow:0px 2px 2px #999;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}

/*登录*/
.login_warp{width:90%;margin:10px auto;position:relative;}
.linput{width:100%;height:40px;border:#ccc 1px solid;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;padding:0 0 0 45px;font-size:16px;margin:10px auto;-webkit-box-sizing:border-box;}
.tip_user{position:absolute;top:20px;left:5px;font-size:16px;color:#999;}
.tip_pwd{position:absolute;top:80px;left:5px;font-size:16px;color:#999;}
.tip_pwd2{position:absolute;top:135px;left:5px;font-size:16px;color:#999;}

/*注册*/
.reg_warp{width:90%;margin:10px auto;}
.reg_warp li{height:38px;line-height:38px;border:#ccc 1px solid;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;font-size:16px;padding-left:10px;margin-bottom:5px;}
.reg_warp li input{border:none;line-height:32px;vertical-align:middle;width:98%;font-size:16px;}
.reg_warp li.noborder{border:none;}
.reg_warp .l{width:24%;color:#999}
.reg_warp .r{width:76%;}
.reg_warp input.sub{width:90px;height:30px;line-height:30px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;text-align:center;background-image:-webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#ccc));background-image:-moz-linear-gradient(top, #f2f2f2, #ccc);border:1px solid #ccc;vertical-align:middle;margin-top:10px;text-shadow:1px 1px 1px #fff}


/*回到顶部*/
.backToTop{display:none;height:53px;width:53px;background:url(http://img.pccoo.cn/wap/images/gotoTop.png) 0 0 no-repeat;position:fixed;_position: absolute;bottom:0;cursor:pointer;right:10px;}
.backToTop a{display:block;width:53px;height:53px;text-indent:-999px;overflow:hidden;}

/*联系我们*/
.contact_warp{width:310px;margin:10px auto;}
.contact_warp li{height:38px;line-height:38px;border:#ccc 1px solid;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;font-size:16px;padding-left:10px;margin-bottom:5px;}
.contact_warp li input{border:none;line-height:32px;vertical-align:middle;width:98%;font-size:16px;}
.contact_warp li textarea{border:none;line-height:25px;vertical-align:middle; width:98%;height:120px;margin-top:5px;font-size:16px;}
.contact_warp li.twarp{height:130px;}
.contact_warp li.noborder{border:none;}
.contact_warp .l{width:15%;color:#999}
.contact_warp .r{width:85%;}
.tip_title{position:absolute;top:38px;left:5px;font-size:16px;color:#999}
.contact_warp .tip{position:absolute;top:82px;left:5px;font-size:16px;color:#999}
.contact_warp input.sub{width:90px;height:30px;line-height:30px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;text-align:center;background-image:-webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#ccc));background-image:-moz-linear-gradient(top, #f2f2f2, #ccc);border:1px solid #ccc;vertical-align:middle;margin-top:10px;text-shadow:1px 1px 1px #fff}
.contact_warp .err_tip{height:35px;line-height:35px;text-align:center;font-size:16px;}