/* CSS Document */
body 
{
	font-family:"宋体";
	font-size: 9pt;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

td {
	font-family:"宋体";
	font-size: 9pt;
	color: #000000;
	line-height: 20px;
}

.whiteblod {
	font-family:"宋体";
	font-size: 9pt;
	color: #ffffff;
	font-weight: bold;
}

.blue {
	font-family:"宋体";
	font-size: 9pt;
	color: #336699;
}

.blackblod {
	font-family:"宋体";
	font-size: 9pt;
	color: #000000;
	font-weight: bold;
}

.brown {
	font-family:"宋体";
	font-size: 9pt;
	color: #cc3300;
}

.gray {
	font-family:"宋体";
	font-size: 9pt;
	color: #999999;
}

.logingray {
	font-family:"宋体";
	font-size: 9pt;
	color: #d9d9d9;
}

.white {
	font-family:"宋体";
	color: #ffffff;
	font-size: 9pt;
}
.inputw 
{
	font-family: "宋体";
	font-size: 9pt;
	border: 1px solid ;
	margin-left: 0px;
	margin-top: 0px;
	border-color:#C0C0C0;
	background-color: White;
	border-color: #C0C0C0 #C0C0C0 #C0C0C0 #C0C0C0;
}
.Btn 
{
	font-family: "宋体";
	font-size: 9pt;
	border: 1px solid ;
	margin-left: 0px;
	margin-top: 0px;
	background-image:url(../Imgs/bg_title_01.jpg);
}
.dvFrame
{
	OVERFLOW: auto;
	DISPLAY: none;
	POSITION: absolute;
	border: 1px solid ;
	border-color:#C0C0C0;
}
.dgbg
{
	font-family: "宋体";
	font-size: 9pt;
	height:20px;
	background-image:url(../Imgs/bg_title_01.jpg);
	POSITION: relative;
}
.input11 
{
	height:20px;
	width:150px;
	background-color: #6699ff;
	border: 1px solid #b9b9b9;
	color: #d9d9d9;
}
.red {
	font-family:"宋体";
	color: #ff0000;
	font-size: 9pt;
}
.white {
	font-family:"宋体";
	color: #ffffff;
	font-size: 9pt;
}
.border {
	border-right: 1px solid gray;
}

.border01 {
	border-bottom: 1px solid #cccccc;
}
.border2 
{
	border-left: 1px solid gray;
	border-top: 1px solid gray;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
}
A
{
	font-size: 9pt;
	color: #006699;
	text-decoration: none;
}
A:ACTIVE 
{
	color : #006699;	
	text-decoration: none;
}
A:FOCUS
{
	color: black;
	text-decoration: none;
}
A:HOVER
{
	color: #ff4500;
	text-decoration: underline;
}
A:LINK 
{
	text-decoration: none;
}